.ez-list{
  padding: 0;
  list-style: none;
  position: relative;
  width: 100%;

  &.ez-list-draggable {
    .ez-draggable {
      cursor: move;
    }
  }

  &.ez-list-target {
    .ez-placeholder {
      display: block;
    }
  }

  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ez-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    height: 40px;
    position: relative;
    display: none;

    i {
      color: #428bca;
      left: -16px;
      top: -9px;
    }
  }

  &.ez-no-placeholder .ez-placeholder {
    display: none !important;
  }

  .ez-list-items {
    background-color: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ez-list-items .ez-list-items, .ez-drag-container .ez-list-items {
    margin-left: 20px;
  }

  .ez-drag-container {
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    z-index: 99;
    opacity: .7;

    .ez-list-item-content {

    }
  }

  .ez-list-item {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    .ez-toggle-btn {
      cursor: pointer;
    }

  }

  &.ez-drag-over {
    .ez-placeholder {
      display: block;
    }

    .ez-dragging {
      .ez-placeholder {
        display: none;
      }
    }

    .ez-drag-container {
      display: block;
    }
  }



}
